* {
  font-family: 'Roboto';
}

html,
body,
#app {
  height: 100vh;
  margin: 0;
}
.row,
.chat-card,
main {
  background-color: #19191b;
}
.custom-card,
.form-control {
  background-color: #292929;
  border-radius: 5px !important;
  border: 1px solid #898989;
  color: white !important;
}
.custom-input::placeholder {
  color: #898989;
}
.form-control:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white;
}
